body {
    font-family: "Avenir Next";
    background-color: rgb(250, 235, 244);
  }
  
  li {
    list-style: none;
    
  }
  
  .header {
    background-color: #d4ced3;
    color: rgb(15, 14, 14);
    height: 100px;
  }
  
  .header-logo {
    float: left;
    font-size: 40px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 60px 30px;
  }
  
  .copy-container h2 {
    font-size: 60px;
  }
  
  .copy-container h3 {
    font-size: 40px;
  }
  
  .copy-container span {
    color: #0f0f0f;
  }
  
  .contents {
    height: 600px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 40px;
    padding-bottom: 15px;
    margin: auto;
  }
  
  .contents-item {
    text-align: center;

  }

  .navbawah {
      width: fit-content;
      margin: auto;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .contents-item p {
    font-size: 18px;
    margin-top: 30px;
  }
  
  .contact-form {
    padding-top: 100px;
  }
    
  /* Tambahkan CSS untuk contact-submit */
  .contact-submit{
    background-color:#dee7ec;
    color:#889eab;
  }
  
  .footer {
    background-color: rgb(197, 193, 193);
    color: #fff;
    height: 80px;
    padding: 40px;
    margin-top: 20px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 25px;
  }
  